@charset "UTF-8";

:root {
    --primary: rgb(220,80,80);
    --primaryDark: rgb(160,0,0);

    --complementary:rgb(57, 237, 153);
    --complementaryDark:rgb(47, 217, 133);
    --complementaryDarker:rgb(37, 167, 113);
    --complementaryBlack:rgb(27, 137, 93);


    --white: rgb(210,210,210);
    --whiteDark: rgb(235,235,235);
}
html {
    background-color: var(--white);

    font-size: 0.9rem;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--white);
    width: 100vw;
    height: auto;
        min-height: 100vh;
    padding: 0px;

    overflow-x: hidden;

    margin: 0px;
}
input[type="text"] {
    background-color: transparent;
    width: 80%;
    height: auto;
    box-sizing: border-box;
        padding: 5px;
        border: none;
        border-bottom: solid 4px rgb(0,0,0,0.3);
    outline: none;

    font-size: 1.5rem;

    flex: 0 0 auto;

    transition: border-bottom 100ms linear;

    margin: 20px 0px 20px 0px;
}
input[type="text"]:focus {
    border-bottom: solid 4px rgb(50,50,50);
}

.content {
    background-color: var(--whiteDark);
    width: 90vw;
    max-width: 900px;
    height: auto;
    box-sizing: border-box;
        padding: 40px 40px;
    box-shadow: rgb(0,0,0,0.4) 0px 0px 2vw;

    overflow-x: hidden;

    margin: 0px auto;
}
.content .main.header {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--primaryDark);
    width: 100%;
        max-width: 900px;
    height: auto;
        min-height: 200px;
        max-height: 300px;
    box-shadow: rgba(0,0,0,0.5) 0px 0px 2vw;

    margin: 40px auto;
}
.content .main.header .title {
    font-size: 3rem;
    font-family: Georgia;
    text-align: center;

    color: rgb(255,255,255,0.7);
    
    user-select: none;
}


.infoSection {
    width: 100%;
    height: auto;

    margin: 40px auto;
}
.infoSection .title {
    border-bottom: solid 0.5vw var(--primary);

    font-family: Arial;
    font-weight: 400;
    font-size: 40px;
    color: var(--primary);

    margin: 3% 0px 0px 0px;
}
.infoSection .form {
    background-color: rgba(0,0,0,0.1);
    width: 100%;
    box-sizing: border-box;
        padding: 2vw 2vw;

    overflow-x: hidden;

    margin: 0px auto;
}
.infoSection .form .title {
    border-bottom: none;
    padding: 10px 0px;

    font-family: Arial;
    font-size: 1.5rem;
    color: rgb(0,0,0,0.3);

    margin: 0px 10px 0px 10px;
}

.reportSection {
    width: 100%;
    height: auto;

    overflow-x: auto;

    margin: 10px;
}
.studentsReport {    
    background-color: rgb(0,0,0,0.05);
    width: 100%;
    height: auto;
        min-height: 200px;

    border-spacing: 0px;
}
.studentsReport .thead {
    width: 100%;
    height: auto;
}
.studentsReport .thead .td {
    width: auto;
    padding: 10px 10px;
    
    text-transform: capitalize;
    font-family: Arial;
    font-size: 1.3rem;
    color: rgba(0,0,0,0.7);

    flex: 1;
}
.studentsReport .tbody .td {
    position: relative;

    width: auto;
    padding: 10px 10px;
    
    font-family: Arial;
    font-size: 1.3rem;
    color: rgba(0,0,0,0.7);

    flex: 1;
}

@media screen and (max-width: 500px) {
    html {
        font-size: 0.7rem;
    }
    .content {
        width: 100%;
        padding: 0px;
        box-shadow: none;

        margin: 0px;
    }
    .header {
        width: 100%;
        max-width: none;

        margin: 0px;
    }
}