@charset "UTF-8";

.form.addAlunoForm .inputHolder {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: auto;
}
.form.addAlunoForm .submit {
    background-color: var(--complementary);
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 100%;
    box-shadow: rgb(0,0,0,0.4) 0px 0px 6px;

    font-size: 40px;
    color: rgba(0,0,0,0.5);

    transform: scale(1.0);
    transition: transform 100ms linear, color 100ms linear, background-color 100ms linear;

    flex: 0 0 auto;

    margin: 20px auto 20px 0px;
}
.form.addAlunoForm .submit:hover {
    background-color: var(--complementaryDark);

    transform: scale(1.1);

    color: rgba(0,0,0,0.8);
}

.reportSearch {
    width: auto;
    box-sizing: border-box;
        padding: 20px 20px;

    margin: 0px auto; 
}
.reportSearch .title {
    border-bottom: none;
    
    font-family: Arial;
    font-weight: 400;
    font-size: 25px;
    color: rgb(0,0,0,0.4);

    margin: 20px 0px;
}


.studentsReport .tbody .student:nth-of-type(odd) .td {
    background-color: rgb(0,0,0,0.1);
}
