@charset "UTF-8";

:root {
    --messageTopPosition: 10px;
    --messageLeftPosition: 10px;
}
body {
    padding: 0px;

    margin: 0px;
}
.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    gap: 20px;

    width: 100vw;
    height: 100vh;

    margin: 0px;
}
.message {
    position: absolute;
    top: var(--messageTopPosition);
    left: var(--messageLeftPosition);

    background-color: rgb(60,0,60);
    width: 220px;
    height: 80px;
    box-sizing: border-box;
        padding: 10px;
    border-radius: 10px;

    opacity: 0;

    font-size: 14px;
    color: white;

    transition: opacity 100ms linear;
}
.message::before {
    position: absolute;
    top: 100%;
    left: 15px;
    
    content: "";

    width: 0px;
    height: 0px;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
    border-top: solid 10px rgb(60,0,60);
    border-bottom: solid 10px transparent;

}
.bin2dec_conversor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(200,200,200,0.5);
    width: 500px;
    height: 150px;
    padding: 10px 20px 40px 20px;
    border-radius: 1rem;

    flex: 0 0 auto;

    margin: 0px;
}
.bin2dec_conversor .title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 26px;

    margin: 20px 0px;
}
.conversor {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.conversor .binInput {
    background-color: white;
    width: 30px;
    height: 50px;
    box-sizing: border-box;
        padding: 0px 6px;
        border: solid 2px rgba(0,0,0,0.6);
    outline: none;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}
.bin2dec_resultViewer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgba(10,200,250,0.5);
    width: 500px;
    height: 150px;
    padding: 10px 20px 40px 20px;
    border-radius: 1rem;

    flex: 0 0 auto;
}
.bin2dec_resultViewer .title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 26px;
}
.bin2dec_resultViewer .result {
    font-size: 25px;

    margin: 10px;
}
input[type='number'] {
    appearance: none; 
    -moz-appearance:textfield;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
}