@charset "UTF-8";

:root {
    /*
        section A = first 90% of circle starting
        from the horizontal line.

        each section has two points that determine
        the radius.
    */
    --topLeftA: 40%;
    --topLeftB: 60%;
    --topRightA: 40%;
    --topRightB: 60%;
    --bottomLeftA: 40%;
    --bottomLeftB: 60%;
    --bottomRightA: 40%;
    --bottomRightB: 60%;
}
body {
    background-color: rgb(230,230,230);

    overflow: hidden;
}
.content {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;
}
.box {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(230,230,230);
    background-image: linear-gradient(53deg, rgb(200,200,200), rgb(230,230,230));
    width: 250px;
    height: 250px;
    border-radius: var(--topLeftA) var(--topRightA) var(--bottomLeftA) var(--bottomRightA) / var(--topLeftB) var(--topRightB) var(--bottomLeftB) var(--bottomRightB);
    box-shadow: rgb(0,0,0,0.5) 0px 0px 10px 0px;
}
.inputValueViewer {
    position: absolute;
    top: -100px;
    
    background-color: black;
    width: auto;
    height: auto;
    padding: 10px 20px;
    border-radius: 1rem;
    
    font-family: Arial;
    color: white;
    
    opacity: 0;
    transition: opacity 500ms ease-out;

    margin: 0px;
}
.box:has(.range:active) .inputValueViewer {
    opacity: 1;
}
.input-range {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: grey;
    width: 100%;
    height: 1px;
}
.input-range:nth-of-type(1) {
    top: -10%;
}
.input-range:nth-of-type(2) {
    transform: rotate(90deg);

    right: -60%;
}
.input-range:nth-of-type(3) {
    top: 110%;
}
.input-range:nth-of-type(4) {
    transform: rotate(90deg);

    left: -60%;
}
.input-range .range {
    position: absolute;

    background: none;
    width: 100%;
    height: 10px;

    appearance:initial;
    -webkit-appearance: none;
    
    pointer-events: none;
}

.input-range .range::-webkit-slider-thumb {
    background-color: rgb(240,150,150);
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: solid 1px grey;

    -webkit-appearance: none;

    pointer-events: auto;
}