@charset "UTF-8";

body {
    position: relative;

    background-color: rgb(22, 26, 48);
    box-sizing: border-box;

    color: rgb(220,220,220);
    
    margin: 0px;
}
.content-holder {    
    position: relative;

    width: 100%;
        max-width: 1200px;
        min-height: 100px;
    padding-top: 100px;


    margin: 0px auto;
}
.content-holder .warningPopUp {
    position: absolute;
    top: 30px;
    right: 0px;
    
    background-color: rgba(0,0,0,0.7);
    width: 90%;
        max-width: 260px;
    height: auto;
    padding: 25px;
    border-radius: 4px;

    opacity: 0%;
    backdrop-filter: blur(21px);

    font-family: Arial;

    pointer-events: none;

    margin: 0px;

    transition: opacity 100ms linear;
}
.content-holder .warningPopUp:has(.popUp-closeButton.active) { 
    opacity: 100%;
    pointer-events: all;
}
/* this basically unalives the popup everytime it doesn't have active class*/
.content-holder .warningPopUp .popUp-title {
    margin: 0px 0px 10px 0px;
}
.content-holder .warningPopUp .popUp-descriptionWrapper {
    padding-left: 10px;
    border-left: solid 1px rgb(220,220,220);
}
.content-holder .warningPopUp .popUp-paragraph {
    margin: 0px 0px 10px 0px;
}
.content-holder .warningPopUp .popUp-closeButton { 
    text-decoration: underline;
    cursor: pointer;

    margin: 0px 0px 10px 0px;
}


.content-holder .taskMaker {
    text-align: center;

    width: 100%;

    margin: 0px 0px 20px 0px;
}
.introduction {
    width: 90%;

    margin: 0px auto;
}
.introduction .introduction-title {
    font-family: Verdana;
    font-size: 2em;


    margin: 10px 0px;
}
.introduction .introduction-description {
    font-family: Tahoma;
}
.introduction .introduction-createButton {
    position: relative;

    background-color: rgb(220,220,220);
    width: max(120px,55%);
    max-width: 200px;
    border: none;
    box-sizing: border-box;
        padding: 15px 20px;
    border-radius: 30px;
    
    font-family: Verdana;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1.1px;

    transition: background-color 100ms linear;

    overflow: hidden;

    margin: 20px 0px 0px 0px;
}
.introduction .introduction-createButton:hover {
    background-color: rgb(200,200,200);
}

.taskMaker .taskFormWrapper {
    position: relative;

    background-color: rgb(49, 48, 77);
    width: 70%;
        max-width: 650px;
        min-width: 400px;
    height: 0px;
    border-radius: 14px;

    overflow: hidden;
    pointer-events: none;

    transition: height 400ms ease-in-out;

    margin: 40px auto 20px auto;
}
.taskMaker .taskFormWrapperActive {
    height: 360px;
    pointer-events: all;
}
/* Since .taskForm has no height and overflow hidden this will make it appear*/
.taskMaker .taskForm {
    position: absolute;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;

    width: 100%;
        max-width: 650px;
        min-width: 400px;
    height: 360px;

    box-sizing: border-box;
        padding: 30px 20px;
}
.taskForm .taskForm-nameInput {    
    position: relative;

    background-color: rgb(79, 78, 107);
    width: 90%;
        min-width: 200px;
    height: 40px;
    box-sizing: border-box;
        padding: 5px 5px 5px 15px;
    border: 2px solid rgb(22, 26, 48);
    border-radius: 6px;
    outline: none;

    font-size: 16px;

    flex: 0 0 basis;
}
input::-webkit-input-placeholder {    
    color: rgba(0,0,0,0.6);
}
input::-moz-placeholder {
    color: rgba(0,0,0,0.6);
}
input::-ms-input-placeholder { 
    color: rgba(0,0,0,0.6);
}
input:-moz-placeholder {
    color: rgba(0,0,0,0.6);
}
.taskForm .taskForm-priorityInputWrapper {
    align-self: flex-start;
}
.taskForm-priorityInputWrapper label {
    font-family: Verdana;
    font-weight: bold;

    margin: 0px 10px;
}
.taskForm #taskForm-priorityInput {
    background-color: rgb(79, 78, 107);
    width: 60%;
        min-width: 150px;
    height: 40px;
    box-sizing: border-box;
        padding: 5px 5px 5px 15px;
    border: 2px solid rgb(22, 26, 48);
    border-radius: 6px;
    outline: none;;

    flex: 1 0 basis;
}
.taskForm #taskForm-priorityInput option { 
    color: white;
    font-size: 16px;

    border: none;
}
.taskForm .taskForm-descriptionInput {
    background-color: rgb(79, 78, 107);
    width: 90%;
    height: 160px;

    box-sizing: border-box;
        padding: 5px 5px 5px 15px;
    border: 2px solid rgb(22, 26, 48);
    border-radius: 6px;
    outline: none;

    white-space: pre-wrap;
    resize: none;

    font-size: 16px;

    flex: 0 0 basis;
}
textarea::-webkit-input-placeholder {    
    color: rgba(0,0,0,0.6);
}
textarea::-moz-placeholder {
    color: rgba(0,0,0,0.6);
}
textarea::-ms-input-placeholder {
    color: rgba(0,0,0,0.6);
}
textarea:-moz-placeholder {
    color: rgba(0,0,0,0.6);
}
.taskForm .taskForm-createButton {
    position: absolute;
    right: 10%;
    bottom: 20px;

    background-color: rgb(149, 148, 197);
    width: 40%;
    box-sizing: border-box;
        padding: 5px 5px 5px 15px;
    border: 2px solid rgb(22, 26, 48);
    border-radius: 6px;
    outline: none;

    font-weight: bold;
    font-size: 15px;

    flex: 0 0 basis;
    align-self: flex-end;

    transition: background 100ms linear;
}
.taskForm .taskForm-createButton:hover {
    background-color: rgb(119, 118, 167);
}


.taskViewer {
    position: relative;

    width: 90%;
        max-width: 1200px;
        min-height: 100px;
    box-sizing: border-box;
        padding: 30px 0px 0px 0px;
    border-top: solid 2px white;
    border-right: solid 2px white;
    border-radius: 0px 20px 0px 0px;

    margin: 50px auto;
}
.taskViewer .taskViewer-title {
    position: absolute;
    top: -15px;
    left: 0px;

    background-color: rgb(22, 26, 48);
    padding: 0px 20px;

    font-family: Tahoma;
    font-weight: bold;
    font-size: 20px;

    margin: 0px;
}
.taskViewer .taskHolder {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.taskHolder > .task {
    position: relative;

    background-color: rgb(49, 48, 77);
    width: 95%;
    height: auto;
    border-radius: 15px;
    box-sizing: border-box;
        padding: 20px 20px;

    font-family: Arial;

    margin: 0px 20px 0px auto;
}
.task .task-titleWrapper {
    position: relative;

    margin-bottom: 10px;
}
.task .task-title {
    font-weight: 600;
    font-family: Arial;
    font-size: 16px;
    margin: 0px;
}
.task .task-iconWrapper {
    position: relative;
    top: 0px;
    right: 0px;
    float: right;
    clear: none;

    display: flex;
    gap: 10px;

    width: auto;
    height: 25px;
    padding-left: 10px;

    user-select: none;
    
    margin-right: 0px;
}
.task-iconWrapper .taskIcon {
    font-weight: 300;

    cursor: pointer;

    transition: color 200ms linear;
}
.task-iconWrapper .taskIconActive {
    color: rgb(0,250,0)
}
.task-iconWrapper .taskIcon:nth-child(1):hover {
    color: rgb(0,250,0);
}
.task-iconWrapper .taskIcon:nth-child(2):hover {
    color: red;
}
.task .task-priority {
    float: left;

    width: 100%;

    text-align: center;

    margin: 10px 0px;
}
.task .task-description {
    float: left;

    width: 100%;

    text-align: justify;
    color: white;

    margin: 0px;
}


.task .task-editContainer {
    position: absolute;
    top: min(200px,70%);

    display: flex;
    flex-direction: column;

    background-color: rgb(79, 78, 107);
    width: 100%;
    height: auto;
    box-sizing: border-box;
        border: solid 4px rgb(22, 26, 48);
        padding: 10px;
    border-radius: 10px;

    overflow: hidden;

    z-index: 100;
}
.task-editContainer > .nameInput {
    background-color: rgb(99, 98, 127);
    height: 30px;
    border: solid 2px rgb(22, 26, 48);
    border-radius: 4px;
    padding-left: 6px;

    outline: none;

    font-size: 20px;
    
    margin-bottom: 10px;
}
.task-editContainer > .priorityInput {
    background-color: rgb(99, 98, 127);
    height: 30px;
    border: solid 2px rgb(22, 26, 48);
    border-radius: 4px;
    padding-left: 6px;

    outline: none;

    font-size: 14px;

    margin-bottom: 10px;
}
.task-editContainer > .descriptionInput {
    background-color: rgb(99, 98, 127);
    height: 76px;
    border: solid 2px rgb(22, 26, 48);
    border-radius: 4px;
    padding-left: 6px;

    outline: none;

    resize: none;
    scrollbar-width: 0px;

    font-size: 16px;

    margin-bottom: 10px;
}
.task-editContainer > .descriptionInput::-webkit-scrollbar {
    width: 0px;
    opacity: 0;
}
.task-editContainer > .descriptionInput::-ms-overflow-style {
    opacity: 0;
    width: 0px;
}


@media only screen and (max-width: 425px) {
    .taskMaker .taskFormWrapper {
        width: 100%;
            min-width: 0px;
        border-radius: 0;
    }
    .taskMaker .taskForm {
        width: 100%;
            min-width: 0px;
        overflow: hidden;
    }
    .taskForm .taskForm-nameInput {    
        margin: 0px auto;
    }
    .taskForm .taskForm-descriptionInput {    
        margin: 0px auto;
    }
}
/* fix the "form that creates tasks" for device width */