@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

:root {
    --color1: rgb(245, 120, 104);
    --color2: #EFF5F5;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--color2);

    height: 100vh;
    width: 100vw;

    overflow: hidden;
    margin: 0px;
}

.game {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;

    background-color: var(--color1);
    width: 500px;
    height: 500px;
    border: solid 40px var(--color2);
    box-shadow: #D6E4E5 0px 0px 0px 10px;
}
.game .gameSection {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--color2);
    width: 100%;
    height: 100%;

    font-family: 'Kanit', sans-serif;
    font-size: 5rem;

    user-select: none;
}

.endingMessage {
    position: absolute;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color:rgba(73, 113, 116,0.4);
    width: 100%;
    height: 100%;

    backdrop-filter: blur(9px);
    opacity: 0;

    font-size: 80px;
    font-family: Verdana;
    font-weight: bold;
    text-shadow: rgb(0,0,0,0.6) 0px 0px 10px;

    pointer-events: none;

    transition: opacity 300ms ease-in-out, color 900ms ease-in-out;
}
.endingMessage_opacityAnimation {
    opacity: 1;
    pointer-events: all;
    cursor: pointer;
}

.endingMessage_textAnimation {
    color: rgb(120,120,120);
}